body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: left;
}
.main-header {
  width: 100%;
  float: left;
  background-image: url(img/PRESTASHOP12.png);
  background-position: center;
  background-size: cover;
  height: 400px;
}
.main-header-contact-us {
  width: 100%;
  float: left;
  background-image: url(img/Contact-Us-Banner.png);
  background-position: center;
  background-size: cover;
  height: 400px;
}
.main-header-about-us {
  width: 100%;
  float: left;
  background-image: url(img/agile.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
}

.banner-content {
  margin-top: 150px;
  background-color: rgba(176, 170, 196, 0.5);
  height: 150px;
  margin-left: 5px;
  width: 40%;
  padding-top: 50px;
}
.banner-content-contact-us {
  margin-top: 245px;
  background-color: rgba(176, 170, 196, 0.5);
  height: 70px;
  margin-left: 5px;
  width: 55%;
  padding-top: 5px;
  margin-left: 10px;
}

.banner-content-contact-us h1 {
  text-transform: uppercase;
  padding-left: 20px;
  font-family: Georgia, serif;
  color: aliceblue;
  border-left: 5px solid black;
  height: 40px;
  margin-left: 20px;
  padding-bottom: 5px;
}

.topnav-container {
  width: 100%;
  float: left;
  display: flex;
  background-color: rgba(176, 170, 196, 0.5);
}
.logo {
  width: 300px;
  height: 100px;
}
.logo img {
  height: 50px;

  padding: 20px 10px 10px 10px;
}
.mobi {
  text-decoration: none;
  color: white;
}

#topnav {
  width: 70%;
  float: right;
  margin-left: 450px;
}
#topnav ul li {
  display: inline;
}
#topnav ul li a {
  float: right;
  text-decoration: none;
  color: white;
  padding: 20px 20px 0px 5px;
  /* font-weight: bolder;*/
}
#topnav ul li a:hover {
  text-decoration: underline;
  color: black;
}
.banner-content h1 {
  text-transform: uppercase;
  padding-left: 20px;
  font-family: Georgia, serif;
  color: aliceblue;
  border-left: 5px solid black;
  height: 100px;
  margin-left: 50px;
}
.page {
  width: 100%;
  float: left;
  display: flex;
}
.page div:first-child {
  background-color: aliceblue;
  width: 20%;
  padding-left: 10px;
  margin-top: 5px;
  margin-right: 20px;

  margin-left: 10px;
}
.page div:first-child p {
  font-family: "roboto";
}
.content div:last-child {
  padding-right: 20px;
  margin-right: 40px;

  margin-top: 5px;
  margin-bottom: 5px;
}
.content div:last-child p {
  font-family: "roboto";
}
.content {
  background-color: aliceblue;
  width: 80%;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  /* border-bottom: 1px solid grey;
  border-top: 1px solid grey;*/
  border: ridge;
  font-family: Calibri;
  border-radius: 2%;
}

#post {
  width: 60%;
  height: 400px;
  padding-left: 20px;
  margin-left: 10px;
  background-color: aliceblue;
}
#post h1,
h2 {
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: underline grey;

  text-transform: uppercase;
  font-style: oblique 0deg;
  color: #4d5152;
}
#post img {
  width: 100%;
}
.content h4 {
  padding: 0px 0px 0px 20px;
}

.sub-middle-page {
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  background-color: #f7f9fc;
}
.services {
  width: 400px;
  height: 530px;
  float: left;
}
.sub-middle-page .services img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}
.sub-middle-page div:last-child {
  margin-left: 20px;
}
.sub-middle-page div:first-child {
  margin-right: 20px;
}
.middle-page h1 {
  text-align: center;
  font: small-caps bold 30px/1 sans-serif;
}
.middle-page {
  width: 100%;
  float: left;
  background-color: #f7f9fc;
}
.services p {
  font-family: "roboto";
}
.services h2 {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  color: rgb(80, 77, 77);
}
.page div:first-child p {
  padding-left: 5px;
  padding-right: 5px;
}
/*service-container*/
.service-container {
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
}
.service-container ul li {
  list-style-type: none;
}
.service-container ul > li::before {
  content: "►";
  color: #509e98;
  padding-right: 1px;
}
.service-container-details {
  width: 40%;
}
.service-container-picture {
  width: 40%;
  margin-left: 20px;
}
.service-container-details p {
  font-size: 1.1em;
  font: caption;
}
.service-container-details ul li {
  font-size: 1.1em;
  font: caption;
}
.service-container-details h2 {
  text-transform: uppercase;
  font-style: oblique 0deg;
  color: #4d5152;
}
.service-container2 {
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
}
.service-container2 ul li {
  list-style-type: none;
}
.service-container2 ul > li::before {
  content: "►";
  color: #509e98;
  padding-right: 1px;
}
.service-container-details2 {
  width: 40%;
}
.service-container-picture2 {
  width: 40%;
  margin-left: 20px;
}
.service-container-details2 p {
  font-size: 1.1em;
  font: caption;
}
.service-container-details2 h2 {
  text-transform: uppercase;
  font-style: oblique 0deg;
  color: #4d5152;
}
.service-container-details2 ul li {
  font-size: 1.1em;
  font: caption;
}
/*serv-container*/
.serv-container {
  width: 100%;
  float: left;
  display: flex;
}
.coding-picture {
  width: 30%;
  padding-left: 5px;
}
.coding-picture img {
}
.serv-content {
  width: 50%;
  padding-left: 10px;
  margin-left: 10px;

  margin-right: 25px;
}
.serv-content h1 {
  font: small-caps bold 25px/1 sans-serif;
}
.icon-image {
  padding-top: 45px;
}

.serv-icons-images {
  padding-top: 10px;
  width: 4%;

  padding-left: 80px;
  margin-left: 40px;
}
.serv-content-details h3 {
  text-transform: uppercase;
  font-style: oblique 0deg;
  color: #4d5152;
}
.serv-content-details p {
  font-size: 1.1em;
  font: caption;
}
/*footer*/
.footer-container {
  width: 100%;
  float: left;
}
.rows {
  margin-top: 15px;
  margin-bottom: 15px;
}

.rows {
  margin-left: 30px;
}
.footer-content {
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  background-color: #005eff;
}

.footer-content div:first-child h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 0px;
  font-weight: 300px;
  color: #ffffff;
}
.footer-content div:first-child p {
  font-family: Times, Times New Roman, serif;
  color: #ffffff;
}
.footer-copyright {
  padding: 10px 5px 10px 10px;
  color: #005eff;
}
.rows {
  margin-right: 50px;
  width: 20%;
}
.social-icons {
  padding-left: 5em;
}
.social-icons .icon {
  list-style: none;
  display: inline;
}
.social-icons .icon {
  padding-right: 10px;
}
.email {
  list-style: none;
  margin-top: 10px;
  margin-left: 7px;
}
.email a {
  text-decoration: none;
  color: white;
}
.footer-content div:last-child {
  width: 30%;
}
.rows .link {
  list-style: none;
  text-decoration: none;
  padding-top: 7px;
  font-size: 20px;
}
.rows .link a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
}
.rows p {
  font-size: 1.1em;
  font: caption;
}
.rows h3 {
  padding-left: 40px;
  color: white;
  text-transform: capitalize;
  font-weight: bolder;
}
/*footer icons*/
.social-icons .icon .fa {
  padding: 10px 20px 10px 10px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  border-radius: 50%;
}
.social-icons .icon .fa-facebook {
  background: #3b5998;
  color: white;
}
.social-icons .icon .fa-instagram {
  background: #125688;
  color: white;
}
.social-icons .icon .fa-facebook {
  background: #3b5998;
  color: white;
}
.social-icons .icon .fa-linkedin {
  background: #007bb5;
  color: white;
}
.social-icons .icon .fa-twitter {
  background: #55acee;
  color: white;
}
/*about us page*/
.sub-middle-abtpage {
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  background-color: #f7f9fc;
}
.abtservices {
  width: 400px;
  height: 530px;
  float: left;
  margin-bottom: 5px;
}
.sub-middle-abtpage .abtservices img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}
.row div:nth-child(2) img {
  object-fit: cover;
}
.column {
  float: left;
  width: 22.5%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.card img {
  margin-left: 70px;
  margin-right: 50px;
  border-radius: 50%;
  margin-top: 10px;
}

.scrolling-text {
  font-style: italic;
  color: #006699;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.about-body {
  background-color: #f6f7f5;
  width: 100%;
}
.team-heading {
  border-bottom: 0.5px solid black;
}
.team-heading h1 {
  text-align: center;
  text-transform: uppercase;
  color: #6c7067;
  padding-top: 20px;
}
.about-body h2 {
  text-decoration: none;
  color: #6c7067;
  padding-left: 10px;
}
.summary {
  padding-left: 10px;
}
.summary p {
  font-size: 1.1em;
  font: caption;
}
.summary h1 {
  text-decoration: underline;
  text-transform: uppercase;
  font-style: oblique 0deg;
  color: #4d5152;
}
.list-service li {
  list-style: square;
  font-size: 1.1em;
  font: caption;
}

/*contuct us*/
.contact-us-page {
  width: 100%;
  background-color: #e0e6da;
  background-size: cover;
  justify-content: center;
  float: left;
  font-weight: 200;
  display: flex;
  font-family: "Mongolian Baiti";
}
.banner-content-contact-us {
}
contact-form h1 {
  margin-top: 0px;

  font-weight: 200;
}
input,
textarea {
  background-color: white;
  color: #2f4f4f;
  width: 250px;
}
.form-control {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  margin-bottom: 16px;
  font-size: 18px;
}
.con-form {
  width: 28%;

  background-color: aliceblue;
  margin-top: 20px;

  padding-left: 90px;
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 5px #82877e;
}

form .submit {
  background-color: #005eff;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  transition: 0.4s ease;
}
form .submit:hover {
  background-color: #f44336;
  cursor: pointer;
}

#map {
  margin-top: 20px;
}
#map iframe {
  height: 510px;
  width: 600px;
}

.details {
  justify-content: center;
}
.label {
  font-weight: bold;
  font-size: 16px;
}
